*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: lavender;
    font-family: "Montserrat";
}
.wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

.vessel {/*form,message,topic */
    padding: 4em 2em;
    background: white;
    border-radius:.5em;
    min-width: 600px;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgba(119, 0, 119, 0.993);
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color:white;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 32px;
    font-weight: 200;

}

.logo_container h1 span{
    font-weight: 800;
}

.logged_in{
    float: right;
    height: 100%;
}

.logged_in li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.logged_in li a{
    color: white;
    display: table-cell;
    vertical-align: middle;

}
form #button{
    grid-column-start: 2;
    padding:5px;
    border: none;
    text-align: center;
    width: 5em;
    margin: auto 0 auto 5.5em;
    background: tan;
    border-radius: .5em;
} 
form #button:hover {
    background: rgb(195, 166, 128);
    color: white;
}

table {
    overflow-wrap: break-word;
    font-size: 14px;
    width: 100%;
  }
table td{
    word-break:break-all
}
  
  tr {
    background-color: #fff;
    line-height: 30px;
  }
  
  th, td {
    border-bottom: 1px solid #ddd;
  }
  
  th {
    text-align: left;
  }


  .button_line{
    width: 100%;

    background-color: white;
    border: white;
  }
  .right{
    margin: 0.2em auto;
    float: right;
  }
  button{
    padding:5px;
    padding-left:13px;
    padding-right:13px;
    font-size: 1em;
    border:tan;
    background: white;
} 
    button:hover {
    border:solid;
    background: rgb(249, 249, 255);
    color: rgba(160, 92, 160, 0.993);
}
form{
    display: inline-block;
}
/* for all login pages */
.content{
    max-width: 27em;
    background: white;
    padding: 2em 2em;
    border-radius: .5em;
    left :50%;
    position:absolute;
    transform: translate(-50%);
    }
.create_form     {
    zoom: 125%;
    padding: 1em;
    background: PapayaWhip;
    display: grid;
    max-width: 15em;
    border-radius: .5em;
    grid-template-columns: 5em 10em;
    grid-row-gap: .5em;
    } 
/* for all edit pages */
.edit{
    max-width: 27em;
    background: white;
    padding: 2em 2em;
    border-radius: .5em;
    left :50%;
    position:absolute;
    transform: translate(-50%);
    }
.edit_inside{
    overflow-wrap: break-word;
    zoom: 125%;
    max-width: 15em;
    padding: 1em;
    background: PapayaWhip;
}
.edit_form     {
    display: grid;
    max-width: 15em;
    border-radius: .5em;
    grid-template-columns: 5em 10em;
    grid-row-gap: .5em;
    } 

table td{
    text-align:center; 
    border-left: 1px solid rgb(219, 219, 219); 
    border-right: 1px solid rgb(219, 219, 219); 
}

