{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
{% if session.user_account %}
<p>{{ session. user_account  }}.You are logged in.</p>
<p>Welcome to the theme: "{{theme}}"</p>
<br>
<div class="div_table">
    <form action= "{{ '/create/topic/%d'%forum_id }}" method="POST"> 
        <button type="submit">Create topic </button>
    </form>
    <form action= "{{ '/remove/forum/%s'%forum_id }}"> 
        <button type="submit">Remove forum </button>
    </form>
</div>
<br>



<h2>Form:</h2>

{% endif %}
</div>
{% endblock %}


