{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
{% if session.user_account %}
<p>{{ session. user_account  }}.You are logged in.</p>
<p>Welcome to the theme: "{{theme}}"</p>
<br>
<div class="div_table">
    <form action= "{{ '/create/topic/%d'%forum_id }}" > 
        <button type="submit">Create topic </button>
    </form>
    <form action= "{{ '/remove/forum/%s'%forum_id }}"> 
        <button type="submit">Remove forum </button>
    </form>
</div>
<br>

<h2>Topic:</h2>
<div class="vessel">
    <table>

        <tr>

        <th>Topic id</th>
        <th>Title</th>
        <th>Messages</th>

        </tr>

        {% for topic in topics %}
        <tr>
        {% if topic.visibility==True%}
        <td><a href= "{{ '/topic/%s'%topic.topic_id }}"%topic.topic_id>{{topic.topic_id}}</a></td>
        <td>{{ topic.title }}</td>
        <td>{{ topic.num}}</td>
        {% endif%}
        </tr>

        {% endfor %}

    </table>
        
    </div>





{% endif %}
</div>
{% endblock %}


