{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
{% if session.user_account %}
<div class="button_line">
    <form action= "{{ '/create/topic/%d'%forum_id }}" > 
        <button type="submit">Create topic </button>
    </form>
    {% if is_owner %}
    <form action= "{{ '/edit/theme/%s'%forum_id }}"> 
        <button type="submit">Edit theme </button>
    </form>
    <form action= "{{ '/remove/forum/%s'%forum_id }}"> 
        <button type="submit">Remove forum </button>
    </form>
    {% endif %}
    {% if not is_public %}

    <form action= "{{ '/forum_users/%s'%forum_id }}"> 
        <button type="submit">Show users </button>
    </form>

    <form action= "{{ '/forum_add_users/%s'%forum_id }}"> 
        <button type="submit">Invite user</button>
    </form>
    {% endif %}
    <p class="right">Welcome to the theme</p>
</div>
<!-- <p>{{ session. user_account  }}.You are logged in.</p> -->
<p class="right">"{{theme}}"</p>
<h2>Topic:</h2>
<div class="vessel">
    
    <table>

        <tr>

        <th>Topic id</th>
        <th>Title</th>
        <th>Messages</th>
        <th>Sent at</th>

        </tr>
        {% if not topics%}
            <tr>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            </tr>
        {% else %}
            {% for topic in topics %}
            <tr>
            {% if topic.visibility==True%}
            <td><a href= "{{ '/topic/%s'%topic.topic_id }}"%topic.topic_id>{{topic.topic_id}}</a></td>
            <td><a href= "{{ '/topic/%s'%topic.topic_id }}"%topic.topic_id>{{topic.title}}</a></td>
            <td>{{ topic.num}}</td>
            <td>{{ topic.time_stamp.strftime("%Y-%m-%d %H:%M:%S")}}</td>
            
            {% endif%}
            </tr>
            {% endfor %}
        {% endif %}




    </table>
        
    </div>




    Back -> <a href="/">home page </a>
{% endif %}
</div>
{% endblock %}


