
{% extends "layout.html" %}
{% block content %}


<div class="wrapper">
    {% if session.user_account %}
    <div class="div_table">
        <form action= "/create_forum" > 
            <button type="submit"> Create forum </button>
        </form>
        <form action = "/search_messages">
            <button type = "submit"> Search messages</button>
        </form>
        <form action = "/request_show">
            <button type = "submit"> Show requests</button>
        </form>
    </div>
    User "{{ session. user_account }}". You are logged in.


    <br>
    <h2>Forum:</h2>
    <div class="vessel">
    <table>

        <tr>

        <th>Public</th>
        <th>Theme</th>
        <th>Topics</th>
        <th>Messages</th>
        <th>Last message sent at</th>

        </tr>

        
        {% for forum in forums %}

        
        <tr>
        <td>{{forum.public}}</td>
        <td><a href= "{{ '/forum/%s'%forum.forum_id }}"%forum.forum_id>{{forum.theme}}</a></td>

        {%if forum.time_stamp is none%} 
            <td>None</td>
            <td>None</td>
            <td>None</td>
        {%else%}
            <td>{{forum.topic_num}}</td>
            <td>{{forum.message_num}}</td>
            <td>{{forum.time_stamp.strftime("%Y-%m-%d %H:%M:%S")}}</td>
        {%endif%}
         

        </tr>

        {% endfor %}
        
    </table>
        
    </div>


    {% else %}
    <a class="link" href="/login">Sign in</a>
    {% endif %}
</div>


{% endblock %}