<!DOCTYPE html>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='login.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class=headerBar>
    <h1>
        Webchatting
    </h1>
</div>
<body>
    

    <div class="content">
        <form autocomplete="off" action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input id ="login-button" type="submit" value="Login">
        </form>
    </div>
If you do not have an account, you can create a new one <a href="/register">here</a>
</body>