{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
<h2>Requests:</h2>
<div class="vessel">
<table>
    <tr>
        <th>User1 (Invite User2)</th>
        <th>User2 (Invited by User1)</th>
        <th>To Forum (theme)</th>
        <th>Confirm</th>
    </tr>
    {% if not requests %}
    <tr>
        <th>None</th>
        <th>None</th>
        <th>None</th>
        <th>None</th>
    </tr>
    {% else %}
    {% for request in requests %}
    <tr>
        <th> {{request.u1account}}</th>
        <th> {{request.u2account}}</th>
        <th> {{request.theme}}</th>
        <th><a href="{{'/request/confirm/%s/%s/%s/%s'%(request.owner_id, request.user_id2, request.forum_id, request.request_id)}}">Confirm</a>
            /<a href="{{'/request/delete/%s/%s'%(request.request_id, request.owner_id) }}">Reject</a> </th>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</div>
Back -> <a href="/">Home page </a>
</div>
{% endblock %}