{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
{% if session.user_account %}
<div class="button_line">
    <form action= "{{ '/create/message/%d'%topic_id }}" > 
        <button type="submit">Create message </button>
    </form>

    {% if is_owner or is_topic_owner %}
    <form action= "{{ '/edit/title/%s'%topic_id }}"> 
        <button type="submit">Edit topic </button>
    </form>
    <form action= "{{ '/remove/topic/%s'%topic_id }}"> 
        <button type="submit">Remove topic </button>
    </form>
    {% endif %}

    <p class = "right">Welcome to the topic: </p>
</div>
<!-- <p>{{ session. user_account  }}.You are logged in.</p> -->

<p  class = "right">"{{title}}"</p>
<h2>Messages:</h2>
<div class="vessel">

    <table>

        <tr>

        <th>Message id</th>
        <th>Content</th>
        <th>Sent by user</th>
        <th>Sent at</th>
        <th>Modify</th>

        </tr>

        {% for message in messages %}
        <tr>
        {% if message.visibility==True%}
        <td>{{ message.message_id }}</a></td>
        <td style="width:400px">{{ message.content }}</td>
        <td>{{ message.account }}</td>
        <td style="width:150px">{{ message.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</td>
            {% if message.user_id== user_id or is_owner %}
            <td style="width:100px"><a href="{{'/edit/message/%s'%message.message_id}}" >Edit</a>/<a href="{{'/remove/message/%s'%message.message_id}}">Remove</a></td>
            {% else %}
            <td></td>
            {% endif %}
        {% endif %}
        </tr>

        {% endfor %}

    </table>
        
    </div>

    Back ->Forum"<a href="{{ '/forum/%s'%forum_id }}"> {{theme}} </a>"

    {% endif %}
</div>
{% endblock %}


