{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
{% if session.user_account %}
<div class="div_table">
    <form action= "{{ '/create/message/%d'%topic_id }}" > 
        <button type="submit">Create message </button>
    </form>
    <form action= "{{ '/remove/topic/%s'%topic_id }}"> 
        <button type="submit">Remove topic </button>
    </form>
</div>
<br>
<!-- <p>{{ session. user_account  }}.You are logged in.</p> -->
<p>Welcome to the topic: </p>

<h2>"{{title}}"</h2>

<br>

<h4>Messages:</h4>
<div class="vessel">
    <table>

        <tr>

        <th>Message id</th>
        <th>User id</th>
        <th>Content</th>
        <th>Sent at</th>

        </tr>

        {% for message in messages %}
        <tr>
        {% if message.visibility==True%}
        <td>{{ message.message_id }}</a></td>
        <td>{{ message.user_id }}</td>
        <td>{{ message.content }}</td>
        <td>{{ message.created_at.strftime("%Y-%m-%d %H:%M:%S")}}</td>
        {% endif%}
        </tr>

        {% endfor %}

    </table>
        
    </div>


    Back -><a href="{{ '/forum/%s'%forum_id }}"> {{theme}} </a>
{% endif %}
</div>
{% endblock %}


